@CHARSET "ISO-8859-1";

#login{
	width:400px;
	height:240px;
	background-color: #f5f5f5;
	position:relative;
	left:50%;
	top:40%;
	margin-left:-200px;
	margin-top:-125px;
	border-radius: 5px;	
	border:1px solid #ccc;
	text-align:center; 
}

#login h2{
	width:98%;
	padding: 5px 0;		
}

#login table{
	width:100%;	
}

 #login table td{
	padding:5px 2px;
}

